# Salesforce Web-to-Lead
NEXT_PUBLIC_SF_OID=00D6g000007Ncy2
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=6LeojZ8UAAAAAKB9AN6sHGRyjez7KAGVmegnzToq
NEXT_PUBLIC_SF_REVENUE_FIELD_ID=00N6g00000RH4EM
NEXT_PUBLIC_SF_SOURCE_FIELD_ID=00N6g00000RH4ER
NEXT_PUBLIC_SF_PAGE_URL_FIELD_ID=00Nf200000391FF

# Calendly
NEXT_PUBLIC_CALENDLY_URL=https://cal.mixmax.com/jonesth/intro

# Datadog Real User Monitoring
NEXT_PUBLIC_DATADOG_APPLICATION_ID=69c53b19-1a06-4367-8605-c3e8567731b7
NEXT_PUBLIC_DATADOG_CLIENT_TOKEN=pub1cfdbe23e0ee17b1e5978f80742bb1da
NEXT_PUBLIC_DATADOG_SITE=us5.datadoghq.com
NEXT_PUBLIC_DATADOG_SERVICE=revenuepoint-com
NEXT_PUBLIC_DATADOG_ENV=production

# Google Analytics 4
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-V3LSTETD5P
